.ui-widget-overlay
{
  opacity: .50 !important; 
  filter: Alpha(Opacity=50) !important;
  background: rgb(50, 50, 50) !important; 
}

.imghvr1 :hover
{
  opacity: .50 !important; 
  filter: Alpha(Opacity=50) !important;
  background: rgb(50, 50, 50) !important; 
}

.cookiealert{
  z-index: 9999999999;
}




